<!-- Main Content -->
<main class="main-content">

  <!-- Doctor Slider -->
  <section class="section-content bg-doctor-slide text-center">
      <div class="wrapper">
          <div class="doctor-slider" style="padding: 90px;">
              <h1>Your patients help you too!</h1>
              <h3>Track your performance through our rating system.</h3>
          </div>
      </div>

  </section>

  <section class="section-content bg-darkblue text-center">
  	<div class="wrapper">

  		<h3 class="ppalign">Privacy Policy</h3>
  		<div class="pphr"> </div>

  		<div class="pptext"> 
  			<span >This privacy policy has been compiled to better serve those who are<br> 
  				concerned with how their 'Personally identifiable information' (PII) is<br>
  				being used online. Please read our privacy policy carefully to get a clear<br> 
  				understanding of how we collect, use, protect or otherwise handle your<br>
  				Personally Identifiable Information in accordance with our website.<br><br>

  				We also agree to the individual redress principle, which requires that<br> 
  				individuals have a right to pursue legally enforceable rights against data<br> 
  				collectors and processors who fail to adhere to the law. This principle<br>
  				requires not only that individuals have enforceable rights against data<br> 
  				users but also that individuals have recourse to courts or a government<br> 
  				agency to investigate and/or prosecute non-compliance by data processors.<br><br>

  				The CAN-SPAM Act is a law that sets the rules for commercial email,<br> 
  				establishes requirements for commercial messages, gives recipients <br>
  				the right to have emails stopped from being sent to them, and spells out<br> 
  				tough penalties for violations.<br> <br>


  				The CAN-SPAM Act is a law that sets the rules for commercial email,<br> 
  				establishes requirements for commercial messages, gives recipients <br>
  				the right to have emails stopped from being sent to them, and spells out<br> 
  				tough penalties for violations.
  			</span>
  		</div>
  	</div>
  </section>
</main>
