<main class="main-content">
    <section class="section-content login bg-skyblue-login">
       <div class="wrapper">
    
          <div class="register text-center" style="margin-top: 65px;">
            <h2>Sign Up</h2>

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

              <div class="container">

              <ul>

                <li>
                  <% if(@user.errors[:email].any?) %>
                      <% if @user.errors[:email].first == "can't be blank" %>
                       <p style="font-size: 12px;color: #FF0000;">Enter a valid email address</p>

                   <% elsif @user.errors.added?(:email, :taken)%>
                        <p style="font-size: 12px;color: #FF0000;">Email address already taken.</p>
                    <% end %>
                  <% end %>

                  <%= f.input :email,label: false, placeholder: "Email", :required => true%>
                </li>

                <li>
                <% if @validatable %><em>(<%= @minimum_password_length %> characters minimum)</em><% end %>
                <% if(@user.errors[:password].any?) %>
                  <% if @user.errors[:password].first == "can't be blank" %>
                    <p style="font-size: 15px;color: #FF0000;">This field is required</p>
                  <% elsif @user.errors[:password].first == "is too short (minimum is 8 characters)" %>
                    <p style="font-size: 15px;color: #e5678a;">Password must be at least 8 characters long</p>
                  <% end %>
                <% end %>

                <%= f.input :password, label: false, placeholder: "Password", :required => true %>

                </li>
                <li>
                  <% if(@user.errors[:password].any?) %>
                    <% if @user.errors[:password].first == "can't be blank" %>
                      <p style="font-size: 15px;color: #FF0000;">This field is required</p>
                    <% end %>
                  <% elsif @user.errors.full_messages.include? "Password confirmation doesn't match Password" %>
                      <p style="font-size: 15px;color: #e5678a;">Password confirmation does not match password</p>
                  <% end %>
                  <%= f.input :password_confirmation, label: false, placeholder: "Confirm Password", :required => true %>
                
               </li>

               <li>

                <% if(@user.errors[:name].any?) %>
                   <p style="font-size: 12px;color: #FF0000;">This field is required</p>
               <% end %>

                <% f.input :first_name, label: false, placeholder: "Full Name", :required => true %>
                  
                </li>

                <li>

                <% if(@user.errors[:first_name].any?) %>
                   <p style="font-size: 12px;color: #FF0000;">This field is required</p>
               <% end %>

                <%= f.input :first_name, label: false, placeholder: "Firstname", :required => true %>
                  
                </li>
                <li>
                <% if(@user.errors[:last_name].any?) %>
                   <p style="font-size: 12px;color: #FF0000;">This field is required</p>
               <% end %>

                <%= f.input :last_name, label: false, placeholder: "Lastname", :required => true %>
                </li>
                <li>
                <% if(@user.errors[:gender].any?) %>
                   <p style="font-size: 12px;color: #FF0000;">This field is required</p>
               <% end %>

                 <select id="user_Gender" name="user[Gender]" onchange="getData(this);">
                     <option value="" selected>Select One</option>
                     <option>Male</option>
                     <option>Female</option>
                 </select>
                </li>

                <li>
                  <% if(@user.errors[:address].any?) %>
                   <p style="font-size: 12px;color: #FF0000;">This field is required</p>
               <% end %>
                <%= f.input :address, label: false, placeholder: "Address", :required => true %>
                </li>
                <li>
                <% if(@user.errors[:city].any?) %>
                   <p style="font-size: 12px;color: #FF0000;">This field is required</p>
               <% end %>
                <%= f.input :city,label: false, placeholder: "City", :required => true %>
                  
                </li>
                <li><%= f.hidden_field  :date_of_birth,label: false, placeholder: "Birthday", :required => true %></li>
                <li><%= f.hidden_field :role, :value => "guest" %>
                <li><%= f.button :submit,  "Sign Up", class: "btn login" %></li>
              </ul>

              </div>
            <% end %>

          </div>
      </section>
