            <main class="main-content">
                <section class="section-content healthier-lifestyle bg-healthier-lifestyle decode-size">
                    <div class="wrapper42">
                        <div class="healthier-lifestyle-content text-center">
                            <h1>For a healthier lifestyle.</h1>
                            <span>Find a doctor who can help you<br> prevent certain illnesses</span>
                        </div>
                       <!-- <div class="form-find text-center">
                            <form>
                                <input type="text" name="Name of Doctor" placeholder="Name of Doctor">
                                <select>
                                    <option value="">City/Province</option>
                                </select>
                                <select>
                                    <option value="">Specialty</option>
                                </select>
                                <input type="submit" value="find" class="btn find">
                            </form>
                        </div>-->
                        <div class="form-find-doctor">
                        <ul>
                            <li>
                               <input type="text" name="Name of Doctor" placeholder="Name of Doctor">
                            </li>
                            <li>
                                <select>
                                    <option value="">City/Province</option>
                                </select>
                            </li>
                            <li>
                               <select>
                                    <option value="">Specialty</option>
                                </select>
                            </li>
                            <li>
                               <input type="submit" value="find" class="btn find">
                            </li>
                        </ul>
                        </div>

                    </div>
                </section>

                <section class="section-content article-list">
                    <div class="wrapper42">
                        <h2>Latest News</h2>
                        
                        <div class="article-list-content ">
                            <ul>
                                <% @article1.each do |article| %>
                                <li>
                                    <figure>
                                        <label>Diet</label>
                                         <%= image_tag article.article_img %>
                                    </figure>
                                    <span><%= article.created_at.strftime("%B, %d, %Y")  %></span>
                                    <h2><%= article.title %><h2>
                                    <p><%= article.description %>
                                        <a href="#">Read More</a>
                                    </p>
                                </li>
                               <div class="clear"></div>
                               <% end %>
                            </ul>

                             <ul>
                                <% @article3.each do |article| %>
                                <li>
                                    <figure>
                                         <label>News</label> 
                                         <%= image_tag article.article_img %>
                                    </figure>
                                    <span><%= article.created_at.strftime("%B, %d, %Y")  %></span>
                                    <h2><%= article.title %><h2>
                                    <p><%= article.description %>
                                        <a href="#">Read More</a>
                                    </p>
                                </li>
                               <div class="clear"></div>
                               <% end %>
                            </ul>

                            <div class="pagination">
                                <%= link_to "< Previous ", params.merge(:page => @article.previous_page) %>
                                <%= link_to "More Articles > ", params.merge(:page => @article.next_page) %>
                            </div>
                            <div class="text-center">
                          <!--   <% if @article.previous_page %>
                                <% link_to "< Previous ", params.merge(:page => @article.previous_page) %>
                            <% end %> -->
                            <!--<div  class="flickr_pagination">
                                <span class="btn article-list"><%= link_to "< Previous ", params.merge(:page => @article.previous_page) %></span>
                                <span class="btn article-list">Page <%= @article.current_page %> of <%= @article.total_pages %></span>
                                <span class="btn article-list"><%= link_to "More Articles > ", params.merge(:page => @article.next_page) %></span>
                            </div>-->
                               <!--  <a href="#" class="btn article-list">Previous</a>
                                <a href="#" class="btn article-list">More Articles</a> -->
                            </div>
                        </div>
                        <aside class="side-bar article-list">
                            <div class="articless">
                            <ul>
                                <% @article2.each do |article| %>
                                <li>
                                    <figure>
                                         <label class="healthylabel">Healthy Tips</label> 
                                         <%= image_tag article.article_img %>
                                    </figure>
                                    <span><%= article.created_at.strftime("%B, %d, %Y")  %></span>
                                    <h2><%= article.title %><h2>
                                    <p><%= article.description %>
                                        <a href="#">Read More</a>
                                    </p>
                                </li>
                               <% end %>
                            </ul>
                            </div>
                         
                            <div class="form-filter">
                                <span>Filter by:</span>
                                <%= render 'form' %>
                               <!--  <form>
                                    <select>
                                        <option>Date</option>
                                    </select>
                                    <select>
                                        <option>Category</option>
                                    </select>
                                    <select>
                                        <option>Popularity</option>
                                    </select>
                                    <input type="submit" name="go" value="go" class="btn go float-right">
                                    <div class="clear"></div>
                                </form> -->
                                
                            
                            </div>
                            <div class="clear"></div>
                        </aside>
                        <div class="clear"></div>
                    </div>
                    
                </section>
            </main>
            <script>
            $(function() {

              // $(window).scroll(function() {
              //       if( $(window).scrollTop() > 0)
              //           $('.main-header').css('background', 'rgba(255,255,255,1)');
              //       else
              //           $('.main-header').css('background', 'rgba(255,255,255,0.7)');
              //   });

                $('.tab-links.nav ul li a').on("click", function (e){
                    e.preventDefault(); 
                    $('.tab-links.nav ul li a.active').removeClass('active');
                    $(this).addClass('active');
                    $('.tab-content.nav.active').removeClass('active');
                    $(this.rel).addClass('active');
                });

            });
        </script>