<main class="main-content">
    <section class="section-content login bg-skyblue-login">
       <div class="wrapper">
    
          <div class="register text-center" style="margin-top: 65px;">
    
		<h2>Forgot your password?</h2>

		<div class="container">
		<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  			<% unless resource.errors.empty? %>
			  <p style="color: red">Email not found</p>
			<% end %>

  		<ul>
  			<li><%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Email" %></li>
  			<li><%= f.button :submit, "Reset password instructions", class: "btn login"  %></li>
  		</ul>

<% end %>

</div>
</div>
</section>
</main>

