<!-- Main Content -->
<main class="main-content">
    <!-- Banner -->
    <section class="banner bg-banner-contact text-center">
        <div class="wrapper">
            <h1>
                Better health tracking
                <br>starts today!
            </h1>
        </div>
    </section>

    <!-- Section -->
    <section class="section-content bg-dark-blue text-center">
        <div class="wrapper">

            <h3 class="contactusleft"> Contact Us</h3>
            <div class="contacthr"> </div>

            <div class="pure-g">

                <!-- 1st column -->
                
                <div class="pure-u-1-2 contact1">
                    <%= form_for :email, url: contacts_send_message_path do |f| %>
                    <b class="white">Name</b><br>
                    <%= f.text_field :name %><br/>

                    <b class="white">Email</b><br>
                    <%= f.text_field :email %><br/>

                    <b class="white lineheight">Your Message</b><br>
                    <%= f.text_area :message, class: 'customtextarea' %>
                    <br>
                    <%= f.submit 'SEND',class: 'buttonsend' %>
                    <% end %>
                </div>
                

                <!-- 2nd Column -->
                <div class="pure-u-1-2 contact2">
                    <div class="readypadd">
                        <b>Ready for a healthier<br> lifestyle? Join us!</b>
                    </div>

                    <div class="readypadd">
                        <span>-Neque porro quisquam est qui dolorem ipsum quia  , </span><br>
                        <span>-Neque porro quisquam est qui dolorem ipsum quia , </span><br>
                        <span>-Neque porro quisquam est qui dolorem ipsum quia , </span>

                    </div>
                </div>
            </div>


        </div>
    </section>
</main>
