<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Message from Whatsupdoc Mail </h1>
  	<h5>From, <%= @sender %></h5>
  	<h5>Email, <%= @email %></h5>
    <p>
      <br><br>
      <%= @message %>
    </p>
  </body>
</html>