<div class="appointment-doctor">

<table class="myTable">
	<thead>
	<tr>
		<th class="ID"> # </th>
		<th> Appointment Date</th>
		<th> Patient Full Name</th>
		<th> New Patient</th>
		<th> Insurance </th>
		<th> Reason for visit </th>
		<th> Status </th>
	</tr>
	</thead>

	<tbody>
	<% @appointments.each do |appointment| %>
	<% if current_user.name == appointment.doctor.name%>
	<tr>
		<td>
			<a href="/appointments/<%= appointment.id %>"><%= appointment.id %></a>
		</td>
		<td><%= appointment.date_of_appointment %></td>
		<td><%= appointment.patient_name %></td>
		<td><%= appointment.new_patient%></td>
		<td><%= appointment.insurance %></td>
		<td><%= appointment.reason_for_visit %></td>
		<td><%= appointment.status %></td>	
		<td></td>
	</tr>
	<% end %>

	<% end %>


	</tbody>
</table>

<%= will_paginate @appointments %>

</div>