          <div class="register text-center" style="margin-top: 65px;">
            <h2>Join Now</h2>

			<%= simple_form_for @doctor do |f|%>

		
			<div class="container">
				<ul>
				<li><%= f.file_field :avatar %></li>
				<li><%= f.input :first_name, required: false, autofocus: true, label: false, placeholder: "First Name" %></li>
				<li><%= f.input :last_name, required: false, autofocus: true, label: false, placeholder: "Last Name" %></li>
				</li>
				<li><%= f.input :license_number, required: false, autofocus: true, label: false, placeholder: "License Number"%></li>
				<li><%= f.input :mobile_number, required: false, autofocus: true, label: false, placeholder: "Mobile Number"%></li>
				
				<li><%= f.input :email, required: false, autofocus: true, label: false, placeholder: "Email"%></li>
				<li><%= f.input :city, required: false, autofocus: true, label: false, placeholder: "City"%></li>
				<li><%= f.input :education, required: false, autofocus: true, label: false, placeholder: "Education" %></li>
				<li><%= f.input :language_spoken, required: false, autofocus: true, label: false, placeholder: "Language Spoken" %></li>
				<li><%= f.input :in_network_insurance, required: false, autofocus: true, label: false, placeholder: "Insurance" %></li>
				<li><%= f.input :certification, required: false, autofocus: true, label: false, placeholder: "Certification" %></li>
				<li><%= f.input :proffesional_membership, required: false, autofocus: true, label: false, placeholder: "Membership" %></li>
				<li><%= f.button :submit,  "Submit", class: "btn login"  %></li>
				</ul>
			</div>

			<% end %>
			</div>
