  <!-- Main Content -->
  <!-- This is a comment -->
            <main class="main-content">
                <section class="banner home bg text-center bg-banner">
                
                    <div class="wrapper">

                        <h1>Your Family’s<br>in Safe Hands Now.</h1>
                        <p>Now you can choose a specific doctor that can help you with your medical needs. It’s just one click away!</p>

                        <div class="form-find-doctor">
                        <ul>
                            <%= form_for @search do |s| %>
                            <li>
                                <%= s.select :specialty, options_for_select(@specialty), {include_blank: "Specialty"}%>
                            </li>
                            <li>
                                <div class="select">
                                    <%= s.select :city, options_for_select(@city), {include_blank: "City/Province"}%>
                                </div>
                            </li>
                            <li>
                                <div class="select">
                                    <%= s.select :in_network_insurance, options_for_select(@in_network_insurance), {include_blank: "Insurance"}, { :class => 'col-s3 specialty' }  %>
                                </div>
                            </li>
                            <li>
                                <%= s.submit "FIND", class: "btn", name:"Find Button" %>
                               
                            </li>
                            <% end %>
                        </ul>
                            
                            <!--<%= form_for @search do |s| %>
                                <%= s.text_field :first_name, placeholder: "Name of Doctor"%>
                                 <%= s.select :city, options_for_select(@city), {include_blank: "City/Province"}%>
                                <%= s.select :in_network_insurance, options_for_select(@in_network_insurance), {include_blank: "Insurance"}, { :class => 'col-s3 specialty' }  %>
                                <%= s.submit "FIND", class: "btn find", name:"Find Button" %>
                            <% end %>-->
                        </div>
                    </div>
                </section>
                <% if user_signed_in? %>

                <section class="section-content convenience bg-skyblue-login sizey">
                    <div class="wrapper">
                        <h2 class="text-center">Convenience within your Reach</h2>
                        <div class="convenience-content text-center">
                            
                                <a href="/articles" class="signup btn">Read Articles</a>
                             
                        </div>
                        <div class="clear"></div>
                    </div>
                </section>
                
                <% else %>
                
                <section class="section-content convenience bg-skyblue-login">
                    <div class="wrapper">
                        <h2 class="text-center">Convenience within your Reach</h2>
                        <div class="convenience-content text-center">
                            <div class="float-left">
                                <p>Register now and get the full directory of our doctors plus the Latest Updates</p>
                                <a href="/users/sign_up" class="signup btn">signup</a>
                            </div>
                            
                            <div class="float-left">
                                <p>Signup now, get accredited and have your Profile posted in our directory</p>
                                <a href="/doctors/new" class="signup btn">Join our team</a>
                             </div>
                             
                        </div>
                        <div class="clear"></div>
                    </div>
                </section>
                
    
                <% end %>
            </main>


