 <main class="main-content">
                <section class="section-content hospital bg-directory-banner">
                    <div class="wrapper42">
                        <div class="healthier-lifestyle-content text-center">
                            <h1><b><div style="font-size:100%; color:white; font-family:'Montsrrat', sans-serif; 
">DAFTAR ALAMAT RUMAH SAKIT DI JAKARTA</b></div></h1>
                        </div>
                    </div>
                </section>

                <section class="section-content" >

 <div class="tab link_my">
  <center>
  <button class="tablinks" onclick="openCity(event, 'Jakarta Barat')">Jakarta Barat</button>
  <button class="tablinks" onclick="openCity(event, 'Jakarta Pusat')">Jakarta Pusat</button>
  <button class="tablinks" onclick="openCity(event, 'Jakarta Selatan')">Jakarta Selatan</button>
  <button class="tablinks" onclick="openCity(event, 'Jakarta Timur')">Jakarta Timur</button>
  <button class="tablinks" onclick="openCity(event, 'Jakarta Utara')">Jakarta Utara</button>
</center>
</div>


<div id="Jakarta Barat" class="tabcontent active">
  <br><br><h2 style="color:black;"><center>Jakarta Barat</center></h2>
  <br>

  <table>
    <tr>
      <th style="border:none; font-size:150%;">Nama Rumah Sakit<hr style="margin-top:1%; border-top:1px solid #919499; width: 105%; "></th>
      <th style="border:none; font-size:150%;">Alamat<hr style="margin-top:1%; border-top:1px solid #919499; width: 105%;"></th>
      <th style="border:none; font-size:150%;"><center>Telp. (021)</center><hr style="margin-top:1%; border-top:1px solid #919499; width: 105%; "></th>
      <th style="border:none; font-size:150%;"><center>Fax. (021)</center><hr style="margin-top:1%; border-top:1px solid #919499; width: 100%; "></th>
    </tr>
     <% @hospital1.each do |hos1| %>
    <tr>
      <td class="size-me " style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;" ><%= hos1.name %></td>
      <td class="size-me " style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;" ><%= hos1.address %></td>
      <td class="size-me " style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;" ><center><%= hos1.telphone %></center></td>
      <td class="size-me " style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;" ><center><%= hos1.fax %></center></td>
    </tr>
    <% end %>

  </table>
</div>

<div id="Jakarta Pusat" class="tabcontent">
  <br><br><h2 style="color:black;"><center>Jakarta Pusat</center></h2>
   <table>
     <tr>
      <th style="border:none; font-size:150%;">Nama Rumah Sakit<hr style="margin-top:1%; border-top:1px solid #919499; width: 105%; "></th>
      <th style="border:none; font-size:150%;">Alamat<hr style="margin-top:1%; border-top:1px solid #919499; width: 105%;"></th>
      <th style="border:none; font-size:150%;"><center>Telp. (021)</center><hr style="margin-top:1%; border-top:1px solid #919499; width: 105%; "></th>
      <th style="border:none; font-size:150%;"><center>Fax. (021)</center><hr style="margin-top:1%; border-top:1px solid #919499; width: 100%; "></th>
    </tr>
    <% @hospital2.each do |hos1| %>
    <tr>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;" ><%= hos1.name %></td>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;" ><%= hos1.address %></td>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;" ><center><%= hos1.telphone %></center></td>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;" ><center><%= hos1.fax %></center></td>
    </tr>
    <% end %>
  </table>
</div>

<div id="Jakarta Selatan" class="tabcontent">
  <br><br><h2 style="color:black;"><center>Jakarta Selatan</center></h2>
   <table>
     <tr>
      <th style="border:none; font-size:150%;">Nama Rumah Sakit<hr style="margin-top:1%; border-top:1px solid #919499; width: 105%; "></th>
      <th style="border:none; font-size:150%;">Alamat<hr style="margin-top:1%; border-top:1px solid #919499; width: 105%;"></th>
      <th style="border:none; font-size:150%;"><center>Telp. (021)</center><hr style="margin-top:1%; border-top:1px solid #919499; width: 105%; "></th>
      <th style="border:none; font-size:150%;"><center>Fax. (021)</center><hr style="margin-top:1%; border-top:1px solid #919499; width: 100%; "></th>
    </tr>
    <% @hospital3.each do |hos1| %>
<tr style="margin-top:-100%;">
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;" ><%= hos1.name %></td>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;" ><%= hos1.address %></td>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;" ><center><%= hos1.telphone %></center></td>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;" ><center><%= hos1.fax %></center></td>
 </tr>
    <% end %>
  </table>
</div>

<div id="Jakarta Timur" class="tabcontent">
  <br><br><h2 style="color:black;"><center>Jakarta Timur</center></h2>
   <table>
    <tr>
      <th style="border:none; font-size:150%;">Nama Rumah Sakit<hr style="margin-top:1%; border-top:1px solid #919499; width: 105%; "></th>
      <th style="border:none; font-size:150%;">Alamat<hr style="margin-top:1%; border-top:1px solid #919499; width: 105%;"></th>
      <th style="border:none; font-size:150%;"><center>Telp. (021)</center><hr style="margin-top:1%; border-top:1px solid #919499; width: 105%; "></th>
      <th style="border:none; font-size:150%;"><center>Fax. (021)</center><hr style="margin-top:1%; border-top:1px solid #919499; width: 100%; "></th>
    </tr>
    <% @hospital4.each do |hos1| %>
<tr style="margin-top:-100%;">
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;" ><%= hos1.name %></td>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;" ><%= hos1.address %></td>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;" ><center><%= hos1.telphone %></center></td>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;" ><center><%= hos1.fax %></center></td>
 </tr>
    <% end %>
  </table>
</div>

<div id="Jakarta Utara" class="tabcontent">
  <br><br><h2 style="color:black;"><center>Jakarta Utara</center></h2>
   <table>
    <tr>
      <th style="border:none; font-size:150%;">Nama Rumah Sakit<hr style="margin-top:1%; border-top:1px solid #919499; width: 105%; "></th>
      <th style="border:none; font-size:150%;">Alamat<hr style="margin-top:1%; border-top:1px solid #919499; width: 105%;"></th>
      <th style="border:none; font-size:150%;"><center>Telp. (021)</center><hr style="margin-top:1%; border-top:1px solid #919499; width: 105%; "></th>
      <th style="border:none; font-size:150%;"><center>Fax. (021)</center><hr style="margin-top:1%; border-top:1px solid #919499; width: 100%; "></th>
    </tr>
    <% @hospital5.each do |hos1| %>
<tr style="margin-top:-100%;">
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;" ><%= hos1.name %></td>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;" ><%= hos1.address %></td>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;" ><center><%= hos1.telphone %></center></td>
      <td class="size-me" style="border-bottom: 1px solid #c1c4c9; border-top: 1px solid white;" ><center><%= hos1.fax %></center></td>
 </tr>
    <% end %>
  </table>
</div>

 </section>
            </main>