/*CONTACT*/
html, button, input, select, textarea,
	.pure-g [class *= "pure-u"] {
	  /* Set your content font stack here: */
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}

.contact1 input[type=text] {
    background-color: white;
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.contact1 input[type=email] {
    background-color: white;
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}



.contact1 .customtextarea{
    width: 70%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    resize: none;
}

.buttonsend {
    border-radius: 5px;
    padding: 10px;
    background-color: #74cc40;
    color: #f1f4ea;
    width:100px;
    margin-top: 24px;
}

span{
    font-size: 14px;
    line-height: 0px;
}

.contacthr{
    border-top: 1px solid rgba(255, 255, 255, 0.35); 
    margin-bottom: 20px;
    margin-top: 10px;
}

.pure-u-1-2.contact1{
    border-radius:5px;
    background-color:rgba(98, 215, 244, 0.6);
    width: 50%;text-align: left; 
    padding: 24px;
}

.contactusleft{
    text-align: left;
}

.white{
    color: white;
}

.white.lineheight{
    line-height: 30px;
}

.pure-u-1-2.contact2{
    color: white;
    width: 50%; 
    text-align: left;
    padding: 24px; 
    font-size: 20px; 
    line-height: 35px;
}

.readypadd{
    padding-left: 20px;
}

.bg-banner-contact {
    background: image_url("login.jpg") no-repeat !important; 
    background-size: cover;
}

.bg-dark-blue {
    background: image_url("bg-darkblue.jpg") no-repeat !important; 
    background-size: cover;
}