/*PRIVACY*/

.ppalign{
	text-align: left;
}

.pphr{
    border-top: 1px solid rgba(255, 255, 255, 0.35); 
    margin-bottom: 20px;
    margin-top: 10px;
}

.pptext{
	text-align: left;
	color: white; 
	font-size: 15px;
}

.bg-doctor-slide {
  background: image_url("bg-doctor-slide.jpg") no-repeat !important; 
  background-size: cover;
}

.bg-darkblue {
	background: image_url("bg-darkblue.jpg") no-repeat !important; 
  background-size: cover;
}