<div class="form-book-doctor">
	<% if user_signed_in? %>

	<%= simple_form_for @appointment do |f|%>
		<ul>
	
			<li>

			<%= f.input :date_of_appointment, :readonly => true%>
				
			</li>

			<label>Type of Insurance</label>
			<%= f.select :insurance, [['Optima'], ['Maxicare'],['Intellicare']] %></li>
			
			<li><%= f.input :patient_name %></li>			
			<li><label>New Patient?</label>
			<%= f.select :new_patient, [['Yes',1], ['No',2]] %></li>
			
					
			<li><%= f.input :age %></li>

				
			<li><label>Gender</label>
			<%= f.select :gender, [['Female'], ['Male']] %></li>

			<li><label>Reason for Visit</label>
			<%= f.text_area :reason_for_visit %></li>

			<li>
			<%= f.hidden_field :status, :value => "Pending" %></li>
			
			<li><% f.hidden_field :user_id, :value => current_user.id%></li>
			<li style="display:none;"><%= f.input :doctor_id%></li>

			<li>
                <%= f.button :submit, "Submit", class: "btn blue", data: { confirm: 'Confirm Booking?' } %>
                <!--<div class="alert-msg success">
                    <%= flash[:notice] %>
                </div>
                <!--<div class="alert-msg fail">
                    <%= flash[:notice] %>-->
                </div>
            </li>

		<% end %>

		<% else %>
			
			<%= link_to 'Sign Up First', new_user_registration_path %>
			
		<% end %>

		</ul>
</div>


<style>
	.form-appointment ul li{
		color: #000;
	}
</style>
