<!DOCTYPE html>
<html>
<head>
  <title>Doctor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "bootstrap.min.css.scss" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

 <!-- Body Wrapper -->
<div class="body-wrapper">

<!-- Main Header -->
 <header class="main-header">
                 <div class="wrapper">
                    
                     <%= link_to "", root_path, class: "logo-bookadoc float-left" %>
                     <div class="main-nav float-right">
                        <ul>
                            <% if user_signed_in? %>

                                <li><p style="font-size: 14px;">Welcome <strong><%= current_user.first_name%> <%= current_user.last_name%></strong>!</p></li>
                               
                                <li><p style="font-size: 14px;"><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "" %></p>
                                    
                                 </li>
                                
                                <% else %>

                                <li>
                                    <a href="/abouts/show" class="btn join ">Join our Medical Team</a>                           
                                </li>
                                <li>
                                    <%= link_to "LOGIN", new_user_session_path%>

                                </li>
                                <li>
                                    <%= link_to "SIGN UP", new_user_registration_path%>
                                </li>
                            <% end %>

                        </ul>
                     </div>
                     <div class="clear"></div>
                 </div>
            </header>


<div class="container">
    <%= yield %>
</div>

<!-- Main Footer -->
<footer class="main-footer">
    <section class="section-content footer text-center">
        <div class="wrapper">
            <div class="footer-nav">
                <ul>
                    <li>
                        <a href="/abouts/show"> About</a>
                    </li>

                    <li>
                        <a><%= link_to "Article", articles_path %></a>
                    </li>
                    <li>
                        <a href="searches/new" class="logo-bookadoc"></a>
                    </li>
                    
                    <li>
                        <a href="/privacy_policies/show"> Privacy Policy</a>
                    </li>
                    <li>
                        <a href="/contacts/show">Contact</a>
                    </li>

                </ul>
            </div>
            <hr class="futar">
            <br>
            <span style="margin-left:-70%;">Copyright 2016. BOOKADOC. All Rights Reserved.</span>
           
              <ul>
                <li style="margin-right:-100%; margin-top:-2.5%;">
                 <%= image_tag ( "flagicons/#{@language}") %>
               
                 <%= select_tag 'language_id',options_for_select(@language_options, @language), :onchange => 'setGetParameter("new_locale", this.value)', id: 'language_selection' %>  
                </li>
              </ul>          
            
        </div>
    </section>
</footer>



<!-- Modal -->
<div class="modal-overlay">

</div>

</div>

</body>
</html>
